html {
  height: 100%;
  width: 100%;
  background-size: 150% 150%;
  background-image: linear-gradient(
    to left,
    rgb(113, 215, 255),
    rgb(255, 47, 47)
  );
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

hr {
  text-align: center;
  border: none;
  border-top: 3px double black;
  overflow: visible;
  height: 5px;
}

.output-main-div {
  /* word-break: break-all; */
  width: 49%;
  font-size: 20px;
  padding: 20px;
  border-radius: 20px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 70px;
  background-image: linear-gradient(rgb(226, 25, 226), rgb(68, 211, 255));
}

.output-head {
  /* border: 2px solid black; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.div-1 {
  /* border: 2px solid black; */
  font-size: 20px;
}
.under-head {
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;
}
.app-js-booklist {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.comp-n-output {
  display: flex;
}
.map-output {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
}
